numpy
pandas
matplotlib
scikit-learn
statsmodels
yfinance
plotly
backtrader
quantlib
zipline-reloaded
jupyter
scipy

seaborn
torch
tensorflow
prophet
lightgbm
xgboost
ccxt
qstock
polygon-api-client
flask
beautifulsoup4